ADFData/pipeline/ProdPipeline.json
{
	"name": "ProdPipeline",
	"properties": {
		"activities": [
			{
				"name": "Execute PipelineGit",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineGit",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecutePipelineNYCTaxi",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ExecuteOnlyTaxiContainingFilesPipeline",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "pipelineNYCTaxi",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "ExecuteOnlyTaxiContainingFilesPipeline",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Execute PipelineGit",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "onlyTaxiContainingFiles",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "logicAppCall",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "ExecutePipelineNYCTaxi",
						"dependencyConditions": [
							"Succeeded",
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "POST",
					"url": "https://prod-29.ukwest.logic.azure.com:443/workflows/49bfd8c5c4a347e997940e2f34238dc4/triggers/When_an_HTTP_request_is_received/paths/invoke?api-version=2016-10-01&sp=%2Ftriggers%2FWhen_an_HTTP_request_is_received%2Frun&sv=1.0&sig=_bn238r_hT-IKiqBUHqqUC7xwsbnkSsmsTdaMccPYiw",
					"body": {
						"value": "{\n    \"pipeline_name\": \"@{pipeline().Pipeline}\" ,\n    \"run_id\": \"@{pipeline().RunId}\" ,\n    \"status\": \"@{activity('ExecutePipelineNYCTaxi').Status}\" ,\n    \"error_msg\": \"@{if(equals(activity('ExecutePipelineNYCTaxi').Status,'Failed') , string(activity('ExecutePipelineNYCTaxi').error.message),'No error' )}\"\n  }\n}",
						"type": "Expression"
					}
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2026-07-19T15:23:30Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}